@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin mp0 {
    margin: 0;
    padding: 0;
}

@mixin fontFamily {
    font-family: "Mulish";
    font-style: normal;
}