.trafalgar_first-info {
    @include flex;
    @include mp0;
    justify-content: space-between;
    margin-bottom: 219px;
    
   .vhfy_box {
    h2 {
        @include fontFamily;
        font-weight: 700;
        font-size: 48px;
        color: #000;
        width: 427px;
        height: 112px;   
     }

    p {
        @include fontFamily;
        font-weight: 300;
        font-size: 21px;
        color: #7D7987;
        width: 384px;
        height: 96px;
        margin-bottom: 48px;
    }

    a {
        padding: 15px 20px ;
        border-radius:55px ;
        background-color: #458FF6;;
        @include fontFamily;
        font-weight: 700;
        font-size: 18px;
        color: white;
    }
  } 
}