.trafalgar_footer {
    @include flex;
    justify-content: space-evenly;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    height: 335px;
    margin-top: 200px;
    padding-top: 124px;

    .footer-logo {
        p {
            @include fontFamily;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
            width: 391px;
            height: 84px;
        }
    }
    .footer_text {
        @include flexCenter;
            flex-direction: column;
            flex-wrap: wrap;
        .footer_text-info {
            
            @include fontFamily;
            font-weight: 300;
            font-size: 18px;
            line-height: 38px;
            color: #FFFFFF;

        }
    }
}