.customer {
    height: 425px;
    border-radius: 24px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    margin-top: 150px;
    padding: 0px 100px;
    padding-top: 60px;

    &-title {
        @include fontFamily;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        text-align: center;
    }

    &-line {
        @include flexCenter;

        .line {
          display: inline-block;
          width: 56px;
          height: 2px;
          background-color: #FFFFFF;
        } 
    }

    &__box-text {
        @include flex;
        justify-content: space-between;
        margin-top: 77px;

      .customer-box {
       @include flex;
       gap: 50px;
       .customer-img {
        img {
            border: 6px solid white;
            border-radius: 50%;
        }
       }

       .customer-info {
        h3 {
            @include fontFamily;
            font-weight: 700;
            font-size: 22px;
            color: #FFFFFF;
        }

        p {
            @include fontFamily;
            font-weight: 400;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.85);
        }
       }
     }
     .customer-comment {
        width: 428px;
        height: 120px;

        p {
            @include fontFamily;
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.9);
        }
     }
    }
}  